.formulario{
  width: 500px;
  padding: 30px;
  border: 10px solid #CCC;
}

.formulario p{
  width: 100%;
  font-size: 1.5em;
}

.field{
  width: 100%;
  margin:15px 0;
}

.field span{
  padding left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
}

.radiobox label{
  width: auto;
  display: inline-block;
}

input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #CCC;
  outline: none;
}

input#nao{
  margin-left: 30px;
}

textarea{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}

input[type=submit]{
  display: block;
  background: #CCC;
  height: 30px;
  outline: 0;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

.checkbox{
  width: 100%;
  display: inline-block;
}
