{
	margin: 0;
	padding: 0;
}
		body{
			font-family: Arial,Helvetica,sans-serif;
			font-size: 22px;
}
#menu{
			height: 1000px;
			width: 800px;
			background:greenyellow;
			float: left;
      display: inline-block;
       background: linear-gradient(white,lightgray,darkgray,gray);
}
#principal{
			height: 1000px;
			width: 1100px;
			background: lightblue;
			float: left;
      display: inline-block;
      background: linear-gradient(red,orange,yellow);
}
.enviar {
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
